.login_wrapper{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 40px;
    font-family:  Roboto;
}
.form_login{
    display: flex;
    align-items: center;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 1px;
    flex-direction: column;
    margin: 0 0 10px;
    padding: 10px 0;
    position: relative;
    vertical-align: baseline;
}
.form_header{
    margin-top: 36px;
    margin-bottom: 12px;
}
.form{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}
.form input{
    font-size: 12px;
    padding: 8px;
    margin: 0 40px 6px 40px;
    outline: none;
    border-radius: 2px;
    border: 1px solid rgb(192, 192, 192);
    min-width: 250px;
    color: rgb(38, 38, 38);
}
.form input:focus{
    border: 1px solid rgb(219, 219, 219);
}
.form button:focus{
    border: none;
    outline: none;
}
.form input::placeholder{
    font-size: 12px;
    color: rgb(142, 142, 142);
}
.form button{
    margin: 8px 40px;
    padding: 7px 16px;
    border: none;
    border-radius: 8px;
    background-color: rgb(0, 149, 246);
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    opacity: 0.7;
}
.or{
    padding: 10px 40px 18px;
    width: 100%;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    position: relative;
    justify-content: center;
}
.wrapper::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgb(192, 192, 192);
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
}
.text{
    padding: 0 20px;
    background-color: white;
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(142, 142, 142);
}
.login_method{
    padding: 8px 40px;
    display: flex;
    box-sizing: border-box;
    gap: 5px;
    align-items: center;
    width: 100%;
}
.login_method button{
    border: 0;
    background-color: unset;
    color: #385185;
    font-weight: 600;
    cursor: pointer;
}
.forgot_pw{
    font-size: 12px;
    color: rgb(0, 149, 246);
    text-decoration: none;
    margin-top: 12px;
    margin-bottom: 20px;
}
.signup{
    border: 1px solid rgb(219, 219, 219);
}
.signup p{
    padding: 10px 0;
    margin: 15px 40px;
    font-size: 14px;
    font-weight: 300;
}
.signup_link{
    color: rgb(0, 149, 246);
    text-decoration: none;
    font-weight: 600;
}
.download_app img{
    height: 40px;
}
.download_app_header{
    font-weight: 300;
    text-align: center;
}
.download_links{
    display: flex;
    justify-content: center;
    gap: 10px;
}