.secondaryBtn,
.primaryBtn {
    background-color: rgb(239, 239, 239);
    color: rgb(38, 38, 38);
    font-weight: 500;
    opacity: 1;
    font-size: 14px;
    opacity: 0.8;
    border-radius: 8px;
    padding: 6px 16px;
    color: black;
    height: fit-content;
}
.primaryBtn {
    background-color: rgb(0, 149, 246);
    color: white;
}
.primaryBtn:hover,
.secondaryBtn:hover {
    opacity: 1;
}
.secondaryBtn:hover {
    background-color: rgb(229, 229, 229);
    opacity: 1;
}
.header {
    height: fit-content;
}
.contentWrapper {
    border-top: 1px solid #d0d0d0;
}
.tabBtn {
    outline: none;
}
